<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnectionStringSrv" connectionString="Server=192.168.0.102;Database=portopdv_srv;Uid=portopdv;Pwd=pxoxrxtxoxpxdxvxpxoxrxtxoxsxoxfxt;Port=25178;Allow Zero Datetime=true;" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlConnectionStringPdv" connectionString="Server=192.168.0.102;Database=portopdv;Uid=portopdv;Pwd=pxoxrxtxoxpxdxvxpxoxrxtxoxsxoxfxt;Port=25178;Allow Zero Datetime=true;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>